.cls-1 {
    fill: none;
}

.cls-2 {
    isolation: isolate;
}

.cls-3 {
    opacity: 0.2;
}

.cls-4,
.cls-6,
.cls-7 {
    opacity: 0.6;
}

.cls-12,
.cls-13,
.cls-14,
.cls-4,
.cls-6,
.cls-7 {
    mix-blend-mode: lighten;
}

.cls-4 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_13);
}

.cls-5,
.cls-9 {
    opacity: 0.5;
}

.cls-6 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_13-2);
}

.cls-7 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_13-3);
}

.cls-10,
.cls-11,
.cls-8,
.cls-9 {
    fill: #42e8e0;
}

.cls-12,
.cls-13,
.cls-8 {
    opacity: 0.3;
}

.cls-10 {
    opacity: 0.7;
}

.cls-12 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_211);
}

.cls-13 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_211-2);
}

.cls-15 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_3);
}

.cls-16 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_24);
}

.cls-17 {
    fill: #24126a;
}

.cls-18 {
    opacity: 0.51;
}

.cls-19 {
    fill: #453c9e;
}

.cls-20 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_24-2);
}

.cls-21 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_3-2);
}

.cls-22 {
    fill: #fff;
}

.cls-23 {
    fill: #2842a2;
}

.cls-24 {
    fill: #adb1f2;
}

.cls-25 {
    fill: #9198db;
}

.cls-26 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_3-3);
}

.cls-27 {
    opacity: 0.11;
}

.cls-28 {
    clip-path: url(#clip-path);
}

.cls-29 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_3-4);
}

.cls-30 {
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_3-5);
}

.cls-31 {
    opacity: 0.8;
    fill: url(#Áåçûìÿííûé_ãðàäèåíò_2);
}

.tld-1 {
    fill: #020230;
    opacity: 0.6;
}

.tld-2 {
    fill: url(#Dégradé_sans_nom_97);
}

.tld-3 {
    fill: #24126a;
}

.tld-4 {
    fill: #06033e;
    opacity: 0.4;
}

.tld-5 {
    fill: url(#Dégradé_sans_nom_87);
}

.tld-6 {
    fill: url(#Dégradé_sans_nom_29);
}

.tld-7 {
    fill: url(#Dégradé_sans_nom_94);
}

.tld-8 {
    fill: url(#Dégradé_sans_nom_29-2);
}

.tld-9 {
    fill: #204984;
}

.tld-10 {
    fill: #c0bff6;
}