header {
    @include currentBg(linear-gradient(139deg, rgb(35, 28, 100) 0%, rgb(12, 7, 54) 100%));
    
    // MENU 
    .menu {
        @include flex(space-between);
    }
    .menu-name {
        @include flex(start);
        align-items: center;
        flex: 1 1 65%;
    }
    .menu-name-img {
        max-width: 60px;
        margin-right: 50px;
    }
    .menu-list {
        @include flex(space-between);
        flex: 1 1 25%;
    }
    .menu-list-item {
        font-size: 1.2em;
        margin-left: 35px;
        cursor: pointer;
    }


    // BAGNERE
    .bagnere {
        @include flex(space-between);
        flex-flow: row wrap;
        margin-top: 35px;
        align-items: center;
    }
    .bagnere-block {
        text-align: start;
        flex: 0 0 40%;
    }
    .bagnere-block-content {
        line-height: 1.8em;
    }
    .bagnere  .svg {
        text-align: center;
        flex: 1 1 40%;
        svg {
            max-width: 500px;
            @extend %svg-animation;
        }
    }
    .bagnere-block-text-typing-title {
        text-align: right;
        font-weight: 700;
    }
    .bagnere-block-text-typing {
        border-radius: 50px;
    }
    .bagnere-block-text-typing-title {
        margin: 0;
        margin-bottom: 25px;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 10s steps(24, end) infinite, blink 1s infinite;
    }
}
